@using SSW.Web.ViewModels.Student
@using Newtonsoft.Json
@model IEnumerable<StudentIndexVM>

@{
    ViewBag.Title = "Students";
}

<h2>Students</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<br />
<table class="table" id="studentsTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AvgGrade)
            </th>
            <th>
                Actions
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AvgGrade)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>
<br />
<button class="btn btn-default" id="btnAdd">Add</button>

@section Scripts{
    <script>
        var data = @Html.Raw(JsonConvert.SerializeObject(Model, Formatting.Indented));

        var StudentsView = Backbone.View.extend({
            el: $('#studentsTable')
        });

        $(function () {
            new StudentsView({
                model: new Backbone.Collection(data)
            });
        });

        
        $(document).ready(function () {

            var Students = new Backbone.Collection(data);

            var table = $('#studentsTable').DataTable();
            var counter = 1;

            $('#btnAdd').on('click', function())
            
        });


    </script>
}






