@using SSW.Web.ViewModels.Instructor
@model IEnumerable<InstructorIndexVM>

@{
    ViewBag.Title = "Instructors";
}

<h2>Instructors</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FullName)
        </th>
        <th>
            Course
        </th>
        <th>
            Actions
        </th>
    </tr>
    @foreach (var instructor in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => instructor.FullName)
        </td>
        <td>
            <table>
                @foreach (var item in instructor.CourseStudents)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(s => item.CourseName)
                        </td>
                        <td>
                            @Html.DisplayFor(s => item.StudentsCount)
                        </td>
                    </tr>
                }
            </table>
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = instructor.Id }) |
            @Html.ActionLink("Details", "Details", new { id = instructor.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id = instructor.Id })
        </td>
    </tr>
    }

</table>
